.brochure-page {
  .btn-lines:hover {
    color: $brown;
  }

  .link-list {
    justify-content: center;

    li {
      width: 25%;

      @media (max-width: 991px) {
        width: 50%;
      }

      @media (max-width: 767px) {
        width: 100%;
      }
    }
  }
}



