@import "variables";

.footer {
  background-color: $desert-storm;
  padding: 55px 0 10px;
  margin: 0 auto;
}

.footer-item {
  display: flex;
  flex-direction: column;
  font-family: $nunito;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.33px;
  color: $oxford-blue;

  .footer-logo {
    margin: -20px 0 15px;
  }

  .footer-title {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .footer-link {
    color: $oxford-blue;
    margin-bottom: 5px;

    &:hover {
      text-decoration: underline;
      color: $oxford-blue;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.footer-social {

  .instagram,
  .linkedin,
  .twitter {
    width: 27px;
    height: 27px;
    background-size: 90px !important;
  }

  .instagram {
    background: url("../../images/photos/social-icon-dark.svg") 0 0 no-repeat;
  }

  .linkedin {
    margin: 0 10px;
    background: url("../../images/photos/social-icon-dark.svg") -30px 0 no-repeat;
  }

  .twitter {
    background: url("../../images/photos/social-icon-dark.svg") -63px 0 no-repeat;
  }
}