.food-page {
  .banner-two-links {
    display: flex;

    @media (max-width: 767px) {
      padding-bottom: 2rem;
      display: block;
    }

    .banner-link {
      width: 50%;
      height: 750px!important;
      position: relative;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;

      @media (min-width: 1600px) {
        height: 900px!important;
      }

      @media (max-width: 1200px) {
        height: 700px!important;
      }

      @media (max-width: 991px) {
        height: 650px!important;
      }

      @media (max-width: 800px) {
        height: 600px!important;
      }

      @media (max-width: 767px) {
        width: 100%;
        height: 300px!important;
      }


      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: $black;
        z-index: 2;
        opacity: .5;
      }
    }

    h2 {
      top: 45%;
      margin-bottom: 1.5rem;
      color: $white;
      z-index: 5;
    }

    .link-to-page {
      position: relative;
      top: 45%;
      left: calc(50% - 5rem);
      max-width: 150px;
      z-index: 5;

      .hover-btn-wrap {
        width: 10rem;
        text-align: center;

        a {
          display: inline-block;
          padding: 1rem;
          color: $white;
        }
      }
    }
  }
}

.bakery-page {
  .intro-section {
    .row {
      padding: 1rem 0 4rem;

      @media (max-width: 767px) {
        padding: 0;
      }
    }

    .intro-info {
      padding: 2rem;

      @media (max-width: 767px) {
        order: 2;
      }
    }

    img {
      width: 100%;
    }

    h2 {
      margin-bottom: 2rem;

      @media (max-width: 767px) {
        text-align: center;

        &:after {
          left: calc(50% - 40px);
        }
      }
    }

    p {
      color: $gray;
      font: 1.25rem/2rem $open-sans;
    }

    .intro-img-right {
      @media (max-width: 767px) {
        order: 1;
      }
    }
  }
}