.accordion {
  width: 100%;
  height: 800px;
  overflow: hidden;

  @media (max-width: 1200px) {
    height: 600px;
  }

  @media (max-width: 991px) {
    height: 450px;
  }

  @media (max-width: 767px) {
    height: 250px;
  }

  @media (max-width: 400px) {
    height: 180px;
  }



}

// Stack items
@media screen and (max-width: 767px) {

  // IE gets fussy if this isn't here
  body { margin:0; }
}