.section-title {
  @extend h2;
  text-transform: uppercase;
  color: $oxford-blue;
}

.forest-xl-bg {
  background: url("../../images/bg/forest-xl.jpg") center center repeat-x;
  background-size: cover;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px 15px;

  @media (max-width: 991px) {
    height: 550px;
  }
  @media (max-width: 767px) {
    height: auto;
    min-height: 450px;
  }
  @media (max-width: 576px) {
    min-height: 300px;
  }

  & > * {
    color: $white;
  }

  .large-title {
    @extend h1;
    text-transform: uppercase;
    font-weight: bold;
    font-family: $roboto;
  }
}

.locations-section {
  padding-bottom: 30px;

  &.container-fluid {
    padding-bottom: 0;
  }

  .map-img {
    max-width: 650px;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
  }


  .main-link {
    color: $bright-green;

    .text:after {
      display: none!important;
    }

    &:hover {
      .text {
        text-decoration: underline;
      }
    }
  }

  .location-container {
    height: calc(100vh - 109px);
    height: -webkit-calc(100vh - 109px);


    @media (max-width: 991px) {
      height: calc(50vh - 55px);
      height: -webkit-calc(50vh - 55px);
    }

    #map {
      width: 100%;
      height: 100%;
    }
  }

  .location-description {
    background-color: $raven;
    padding: 20px;
    height: calc(100vh - 109px);
    height: -webkit-calc(100vh - 109px);

    @media (max-width: 991px) {
      height: calc(50vh - 55px);
      height: -webkit-calc(50vh - 55px);
    }

    .specs {
      width: 100%;
      max-width: 800px;

      @media (max-width: 991px) {
        margin: 0 auto;
      }

      .specs-title {
        font-family: $nunito;
        font-size: 22px;
        font-weight: bold;
        color: $white;
        margin-bottom: 15px;
      }

      .search-box {

        .autocomplete-wrap {
          display: flex;
          justify-content: center;
        }

        input {
          font-family: $nunito;
          font-size: 16px;
          color: $white;
          background-color: transparent;
          border-top: none;
          border-left: none;
          border-right: none;
          border-bottom: 1px solid $white;
          width: 250px;
          border-radius: 0;

          &:focus {
            outline: none;
            border-color: $bright-green;
          }
        }

        .input:focus {
          outline: none!important;
        }

        input::placeholder {
          color: $white;
        }

        .submit-autocomplete {
          border: none;
          background: url("../../images/photos/search-icon.svg") center center no-repeat;
          width: 60px;
          height: 35px;
        }
      }

      .sort-box {
        .specs-actions {
          button {
            padding: 0;
            border: none;
            background: transparent;
            font-family: $nunito;
            font-size: 18px;
            color: $white;

            .calendar {
              content: '\f073';
              font-family: FontAwesome;
              font-size: 25px;
            }
          }
          button:first-child {
            margin-right: 20px;
          }
        }
      }

      .event-list {
        padding: 0;
        margin: 40px 0 0;
        max-height: calc(100vh - 109px - 80px - 76px );
        max-height: -webkit-calc(100vh - 109px - 80px - 76px);
        overflow: auto;

        @media (max-width: 991px) {
          margin: 20px 0 0;
          height: calc(50vh - 55px - 60px - 76px);
          height: -webkit-calc(50vh - 55px - 60px - 76px);
        }

        .event-list__element {
          position: relative;
          padding: 15px 40px 15px 40px;
          font-family: $nunito;
          font-size: 16px;
          color: $white;
          border-bottom: 1px solid $white;

          @media (max-width: 991px) {
            padding: 5px 40px 5px 40px;
            font-size: 14px;
          }

          &:first-letter {
            font-weight: bold;
          }

          &:after {
            //content: '\f041';
            content: '\f124';
            display: block;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 14px;
            left: 10px;
            font-family: FontAwesome;
            font-size: 18px;

            @media (max-width: 991px) {
              top: 3px;
            }
          }

          .info-link {
            display: flex;
            width: 25px;
            height: 25px;
            position: absolute;
            top: 14px;
            left: auto;
            right: 5px;
            font-size: 18px;
            border-radius: 50%;
            border: 1px solid $desert-storm;
            justify-content: center;
            align-items: center;
            color: $white;

            &:hover {
              color: $bright-green;
              border-color: $bright-green;
            }
          }

          & > span {
            position: absolute;
            left: 0;
            top: 15px;
            font-weight: bold;
          }

          &:hover {
            color: $bright-green;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.video-section {
  padding: 125px 0 60px;

  @media (max-width: 1024px) {
    padding: 40px 0 60px;
  }

  & > .container > .row {
    margin-bottom: 180px;

    @media (max-width: 1024px) {
      margin-bottom: 60px;
    }

    &:nth-child(even) {
      flex-direction: row-reverse;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .video-info {
    padding: 20px 0 65px;

    @media (max-width: 767px) {
      padding: 0 0 30px;
      text-align: center;
    }

    .video-subtitle {
      font-family: $roboto;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      color: $oxford-blue;
      margin-bottom: 20px;
    }

    .section-title {
      margin-bottom: 20px;
      line-height: normal;
    }

    .video-content {
      font-size: 22px;
      color: $gull-gray;
      margin-bottom: 40px;

      @media (max-width: 767px) {
        font-size: 18px;
        margin-bottom: 20px;
      }

      @media (max-width: 576px) {
        font-size: 16px;
      }
    }

    .video-link {
      position: relative;
      padding-left: 30px;
      color: $bright-green;
      font-family: $nunito;
      font-size: 20px;
      font-weight: bold;

      @media (max-width: 576px) {
        font-size: 18px;
      }

      &:hover {
        text-decoration: underline;
      }

      &::before {
        content: '\f101';
        font-family: FontAwesome;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 40px;
        line-height: 20px;
        color: $bright-green;

        @media (max-width: 576px) {
          font-size: 37px;
          line-height: 18px;
        }
      }

    }
  }

  .video-box {
    background-color: $oxford-blue;
    width: 100%;
    height: 560px;

    @media (max-width: 991px) {
      height: 400px;
    }
    @media (max-width: 767px) {
      height: 320px;
    }
    @media (max-width: 576px) {
      height: calc(56.5vw - 20px);
      height: -webkit-calc(56.5vw - 20px);
    }
  }
}

.accordion-section {
  padding: 55px 0;

  .accordion .accordion-container {
    border-bottom: 1px solid $alto!important;
  }

  .accordion-container {
    position: relative;
    padding: 10px 0 25px 240px;
    border-bottom: 1px solid $alto;

    &:last-child {
      border-bottom: none;
    }

    @media (max-width: 991px) {
      padding-left: 35px;
    }

    & > span {
      position: absolute;
      left: 0;
      top: 15px;
      color: $bright-green;
      font-weight: bold;
      font-size: 20px;
    }

    .question,
    .answer {
      max-width: 760px;
    }

    .question {
      font-family: $roboto;
      margin-bottom: 10px;
      font-size: 28px;
      font-weight: bold;
      color: $oxford-blue;
    }

    .answer {
      font-family: $nunito;
      font-size: 18px;
      color: $gull-gray;
    }
  }

  .accordion {

    .card {
      border: none!important;
      position: relative;
      border-radius: 0!important;

      .card-header {
        display: flex;
        justify-content: center;
        background-color: transparent;
        padding: 20px 0;
        position: relative;
        margin-bottom: 0;
        border-bottom: 0;
      }

      .btn {
        text-transform: uppercase;
        font-family: $roboto;
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        color: $bright-green;
        background-color: white;
        z-index: 10;
        border-radius: 0;
        border-bottom: 1px solid $alto;
        display: inline-block;
        width: 100%;
        padding: 11px;
        position: relative;
        margin-bottom: 20px;

        .text-wrap {
          position: relative;
          z-index: 3;
          display: inline-block;
          padding: 5px 40px;
        }

        &[aria-expanded="true"] {
          display: none!important;
        }
      }

      .card-body {
        padding: 0;
      }
    }
  }
}

.testimonials-section {
  padding: 50px 0 40px;

  .section-title {
    max-width: 530px;
    text-align: center;
    margin: 0 auto 60px;
  }

  .author-photo {
    margin-bottom: 20px;
    width: 120px;
    height: auto;

    @media (max-width: 767px) {
      margin: 0 auto 20px;
      display: block;
    }
  }

  .testimonial {
    font-family: $nunito;
    font-size: 18px;
    font-style: italic;
    color: $gull-gray;
    margin-bottom: 20px;
  }

  .author {
    position: relative;
    padding-left: 70px;

    & > * {
      font-family: $nunito;
      font-size: 18px;
      font-weight: bold;
      color: $oxford-blue;
    }
  }

  .author::before {
    content: url("../../images/photos/quotes.svg");
    position: absolute;
    top: -7px;
    left: 0;
  }

  .swiper-controls {
    position: relative;
    height: 40px;

    @media (max-width: 767px) {
      margin-top: 20px;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    transition: .2s;
    outline: none;
    width: 40px;
    height: 40px;
    border-radius: 0;
    border: 1px solid #ccc;
    top: 0;
    left: auto;
    right: 15px;
    background: unset;
    margin: 0;

    &:after {
      content: '\f105';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: inline-block;
      color: $bright-green;
      font-size: 24px;
      font-family: FontAwesome, "Open Sans", Arial, sans-serif;
      z-index: 1;
      line-height: 37px;
      text-align: center;
      font-weight: 900;
      padding-left: 2px;
    }

    &:hover {
      text-decoration: none;
      border-color: $bright-green;

      @media (min-width: 992px) {
        -webkit-box-shadow: 0 5px 30px 0 rgba($bright-green,0.35);
        -moz-box-shadow: 0 5px 30px 0 rgba($bright-green,0.35);
        box-shadow: 0 5px 30px 0 rgba($bright-green,0.35);
      }
    }
  }

  .swiper-button-prev {
    right: 75px;

    &:after {
      content: '\f104';
      padding-right: 2px;
      padding-left: 0;
    }
  }
}

.partners-section {
  padding: 70px 0 140px;

  @media (max-width: 991px) {
    padding: 50px 0 100px;
  }

  .section-title {
    max-width: 530px;
    text-align: left;
    margin-bottom: 15px;

    @media (max-width: 991px) {
      max-width: 100%;
    }
    @media (max-width: 767px) {
      text-align: center;
    }
  }

  .students-content {
    max-width: 420px;
    font-family: $nunito;
    font-size: 22px;
    color: $gull-gray;
    margin-bottom: 20px;

    @media (max-width: 991px) {
      max-width: 100%;
    }

    @media (max-width: 767px) {
      font-size: 18px;
      text-align: center;
    }
  }

  .logo-items {
    padding: 0;
    align-items: center;

    .logo-item img {
      width: 130px;
      height: auto;
    }

    @media (max-width: 991px) {
      margin-bottom: 40px;
      justify-content: center;
    }
  }

  .counter-box {
    max-width: 370px;
    max-height: 370px;
    padding: 80px 35px;
    border-radius: 4px;
    border: solid 4px $bright-green;

    @media (max-width: 991px) {
      margin: 0 auto;
    }
    @media (max-width: 576px) {
      width: calc(100vw - 30px);
      width: -webkit-calc(100vw - 30px);
    }

    .count {
      font-family: $roboto;
      font-size: 80px;
      font-weight: 300;
      text-align: center;
      color: $bright-green;
    }

    .counter-title {
      font-family: $roboto;
      font-size: 22px;
      font-weight: bold;
      text-align: center;
      color: $oxford-blue;
    }
  }
}

.twitter-section {
  padding: 10px 0;

  .section-title {
    max-width: 400px;
    text-align: right;
    margin: 0 0 60px auto;

    @media (max-width: 991px) {
      text-align: center;
      max-width: 100%;
    }
  }

  .tweet-items {
    justify-content: space-between;
    margin-left: -15px;
    margin-right: -15px;

    @media (max-width: 1199px) {
      justify-content: center;
    }
  }

  .tweet-item {
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    max-width: 356px;
    width: 100%;
    padding: 30px 15px 25px 90px;
    background-color: $oxford-blue;
    font-family: $nunito;
    font-size: 18px;
    line-height: 1.4;
    color: $white;
    margin-bottom: 20px;
    overflow: hidden;

    @media (max-width: 991px) {
      max-width: 346px;
      margin: 0 7px 15px;
    }
    @media (max-width: 576px) {
      max-width: 100%;
      margin: 0 15px 15px;
      padding: 25px 10px 25px 70px;
    }

    .tweet-photo {
      border-radius: 50%;
      width: 45px;
      height: 45px;
      position: absolute;
      top: 10%;
      left: 5%;
    }

    .tweet-title {
      margin-bottom: 20px;
      font-weight: bold;
      text-decoration: underline;
    }

    .selected-green {
      margin-left: 4px;
      text-decoration: underline;
      color: $bright-green;
    }
  }

  blockquote.twitter-tweet {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    padding: 0;
    max-width: 100%;
    background-color: transparent;
  }

  blockquote.twitter-tweet p {
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;

    @media (max-width: 991px) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  blockquote.twitter-tweet a {
    color: $bright-green!important;
    font-weight: normal;
    text-decoration: underline;
    outline: 0 none;
  }

  blockquote.twitter-tweet a:hover,
  blockquote.twitter-tweet a:focus {
    text-decoration: none;
  }
}
