@import "variables";

.section-title {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: bold;
  color: $oxford-blue;
}

.forest-xl-bg {
  background: url("../../images/bg/forest-xl.jpg") center center repeat-x;
  background-size: contain;
  height: 663px;
  display: flex;
  justify-content: center;
  align-items: center;

  & > * {
    color: $white;
    font-size: 100px;
    text-transform: uppercase;
    line-height: normal;
    font-weight: bold;
  }
}

.forest-s-bg {
  background: url("../../images/bg/forest-s.png") center center repeat-x;
  background-size: contain;
  height: 240px;
}

.locations-section {
  .location-description {
    background-color: $boulder;
    padding: 20px;

    .specs {
      max-width: 600px;
      width: 100%;

      .specs-title {
        font-family: $nunito;
        font-size: 22px;
        font-weight: bold;
        color: $white;
      }

      .search-box {
        form {
          display: flex;
        }

        input {
          font-family: $nunito;
          font-size: 16px;
          color: $white;
          background-color: transparent;
          border-top: none;
          border-left: none;
          border-right: none;
          border-bottom: 1px solid $white;
        }

        input::placeholder {
          color: $white;
        }

        button {
          border: none;
          background: url("../../images/photos/search-icon.svg") center center no-repeat;
          width: 60px;
          height: 35px;
        }
      }

      .sort-box {
        .specs-actions {
          button {
            border: none;
            background: transparent;
            font-family: $nunito;
            font-size: 18px;
            color: $white;

            .calendar {
              content: '\f073';
              font-family: FontAwesome;
              font-size: 25px;
            }
          }
        }
      }

      .address-items {
        padding: 0;
        margin: 40px 0 0;

        .address-item {
          position: relative;
          padding: 15px 0 15px 40px;
          font-family: $nunito;
          font-size: 18px;
          color: $white;
          border-bottom: 1px solid $white;

          & > span {
            position: absolute;
            left: 0;
            top: 15px;
          }
        }
      }
    }
  }
}

.video-section {
  padding: 125px 0 60px;

  .video-container {
    margin-bottom: 180px;
    justify-content: space-between;

    .video-info {
      padding: 20px 0 65px;

      .video-subtitle {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        color: $oxford-blue;
        margin-bottom: 20px;
      }

      .section-title {
        max-width: 420px;
        margin-bottom: 20px;
        line-height: normal;
      }

      .video-content {
        max-width: 430px;
        font-family: $nunito;
        font-size: 22px;
        color: $gull-gray;
        margin-bottom: 40px;
      }

      .video-link {
        position: relative;
        padding-left: 30px;
        color: $bright-green;
        font-family: $nunito;
        font-size: 20px;
        font-weight: bold;
      }

      .video-link::before {
        content: '\f101';
        font-family: FontAwesome;
        position: absolute;
        top: -18px;
        left: 0;
        font-size: 40px;
        color: $bright-green;
      }
    }

    .video-box {
      background-color: $oxford-blue;
      width: 644px;
      height: 562px;
    }
  }

  .video-container:nth-child(even) {
    flex-direction: row-reverse;
  }

  .video-container:last-child {
    margin-bottom: 0;
  }
}

.accordion-section {
  padding: 55px 0;

  .accordion-container {
    position: relative;
    margin-left: 20px;
    padding: 10px 0 25px 240px;
    border-bottom: 1px solid $alto;

    .question,
    .answer {
      max-width: 760px;
    }

    .question {
      margin-bottom: 10px;
      font-size: 28px;
      font-weight: bold;
      color: $oxford-blue;
    }

    .answer {
      font-family: $nunito;
      font-size: 18px;
      color: $gull-gray;
    }
  }

  .accordion-container::before {
    content: '01';
    position: absolute;
    left: -20px;
    top: 15px;
    color: $bright-green;
    font-weight: bold;
    font-size: 20px;
  }
}

.testimonials-section {
  padding: 50px 0 70px;

  .section-title {
    max-width: 530px;
    text-align: center;
    margin: 0 auto 60px;
  }

  .testimonials-photo {
    margin-bottom: 20px;
    width: 122px;
    height: 107px;
  }

  .testimonial {
    font-family: $nunito;
    font-size: 18px;
    font-style: italic;
    color: $gull-gray;
    margin-bottom: 20px;
  }

  .author {
    position: relative;
    padding-left: 70px;

    & > * {
      font-family: $nunito;
      font-size: 18px;
      font-weight: bold;
      color: $oxford-blue;
    }
  }

  .author::before {
    content: url("../../images/photos/quotes.svg");
    position: absolute;
    top: -7px;
    left: 0;
  }
}

.students-section {
  padding: 70px 0 140px;

  .section-title {
    max-width: 530px;
    text-align: left;
    margin-bottom: 15px;
  }

  .students-content {
    max-width: 420px;
    font-family: $nunito;
    font-size: 22px;
    color: $gull-gray;
    margin-bottom: 20px;
  }

  .logo-items {
    padding: 0;

    .logo-item img {
      width: 130px;
      height: 110px;
    }
  }

  .counter-box {
    padding: 80px 35px;
    border-radius: 4px;
    border: solid 4px $bright-green;

    .count {
      font-size: 80px;
      font-weight: 300;
      text-align: center;
      color: $bright-green;
    }

    .counter-title {
      font-size: 22px;
      font-weight: bold;
      text-align: center;
      color: $oxford-blue;
    }
  }
}

.twitter-section {
  padding: 10px 0;

  .section-title {
    max-width: 400px;
    text-align: right;
    margin: 0 0 60px auto;
  }

  .tweet-item {
    position: relative;
    max-width: 356px;
    width: 100%;
    padding: 28px 13px 27px 95px;
    background-color: $oxford-blue;
    font-family: $nunito;
    font-size: 18px;
    line-height: 1.44;
    color: $white;

    .tweet-photo {
      border-radius: 50%;
      width: 45px;
      height: 45px;
      position: absolute;
      top: 10%;
      left: 5%;
    }

    .tweet-title {
      margin-bottom: 20px;
      font-weight: bold;
      text-decoration: underline;
    }

    .selected-green {
      margin-left: 4px;
      text-decoration: underline;
      color: $bright-green;
    }
  }
}
