.section-title {
  @extend h2;
  text-transform: uppercase;
  color: $oxford-blue;
}

.forest-xl-bg {
  background: url("../../images/bg/forest-xl.jpg") center center repeat-x;
  background-size: cover;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px 15px;

  @media (max-width: 991px) {
    height: 550px;
  }
  @media (max-width: 767px) {
    height: auto;
    min-height: 450px;
  }
  @media (max-width: 576px) {
    min-height: 300px;
  }

  & > * {
    color: $white;
  }

  .large-title {
    @extend h1;
    text-transform: uppercase;
    font-weight: bold;
    font-family: $roboto;
  }
}

.locations-section {
  .location-container {
    height: 690px;

    @media (max-width: 991px) {
      height: 300px;
    }
  }

  .location-description {
    background-color: $raven;
    padding: 20px;

    .specs {
      max-width: 600px;
      width: 100%;

      @media (max-width: 992px) {
        margin: 0 auto;
      }

      .specs-title {
        font-family: $nunito;
        font-size: 22px;
        font-weight: bold;
        color: $white;
      }

      .search-box {
        margin-right: 20px;

        @media (max-width: 1115px) {
          margin-bottom: 20px;
        }

        form {
          display: flex;
        }

        input {
          font-family: $nunito;
          font-size: 16px;
          color: $white;
          background-color: transparent;
          border-top: none;
          border-left: none;
          border-right: none;
          border-bottom: 1px solid $white;
        }

        .input:focus {
          outline: none!important;
        }

        input::placeholder {
          color: $white;
        }

        button {
          border: none;
          background: url("../../images/photos/search-icon.svg") center center no-repeat;
          width: 60px;
          height: 35px;
        }
      }

      .sort-box {
        .specs-actions {
          button {
            padding: 0;
            border: none;
            background: transparent;
            font-family: $nunito;
            font-size: 18px;
            color: $white;

            .calendar {
              content: '\f073';
              font-family: FontAwesome;
              font-size: 25px;
            }
          }
          button:first-child {
            margin-right: 20px;
          }
        }
      }

      .address-items {
        padding: 0;
        margin: 40px 0 0;

        .address-item {
          position: relative;
          padding: 15px 0 15px 40px;
          font-family: $nunito;
          font-size: 16px;
          color: $white;
          border-bottom: 1px solid $white;

          & > span {
            position: absolute;
            left: 0;
            top: 15px;
            font-weight: bold;
          }
        }

        .address-item:hover {
          color: $bright-green;
          cursor: pointer;
        }
      }
    }
  }
}

.video-section {
  padding: 125px 0 60px;

  @media (max-width: 1024px) {
    padding: 40px 0 60px;
  }

  & > .container > .row {
    margin-bottom: 180px;

    @media (max-width: 1024px) {
      margin-bottom: 60px;
    }

    &:nth-child(even) {
      flex-direction: row-reverse;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .video-info {
    padding: 20px 0 65px;

    @media (max-width: 767px) {
      padding: 0 0 30px;
      text-align: center;
    }

    .video-subtitle {
      font-family: $roboto;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      color: $oxford-blue;
      margin-bottom: 20px;
    }

    .section-title {
      margin-bottom: 20px;
      line-height: normal;
    }

    .video-content {
      font-size: 22px;
      color: $gull-gray;
      margin-bottom: 40px;

      @media (max-width: 767px) {
        font-size: 18px;
        margin-bottom: 20px;
      }

      @media (max-width: 576px) {
        font-size: 16px;
      }
    }

    .video-link {
      position: relative;
      padding-left: 30px;
      color: $bright-green;
      font-family: $nunito;
      font-size: 20px;
      font-weight: bold;

      @media (max-width: 576px) {
        font-size: 18px;
      }

      &:hover {
        text-decoration: underline;
      }

      &::before {
        content: '\f101';
        font-family: FontAwesome;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 40px;
        line-height: 20px;
        color: $bright-green;

        @media (max-width: 576px) {
          font-size: 37px;
          line-height: 18px;
        }
      }

    }
  }

  .video-box {
    background-color: $oxford-blue;
    width: 100%;
    height: 560px;

    @media (max-width: 991px) {
      height: 400px;
    }
    @media (max-width: 767px) {
      height: 320px;
    }
    @media (max-width: 576px) {
      height: calc(56.5vw - 20px);
      height: -webkit-calc(56.5vw - 20px);
    }
  }
}

.accordion-section {
  padding: 55px 0;

  .accordion-container {
    position: relative;
    margin-left: 20px;
    padding: 10px 0 25px 240px;
    border-bottom: 1px solid $alto;

    &:last-child {
      border-bottom: none;
    }

    @media (max-width: 991px) {
      padding-left: 30px;
    }

    & > span {
      position: absolute;
      left: -20px;
      top: 15px;
      color: $bright-green;
      font-weight: bold;
      font-size: 20px;
    }

    .question,
    .answer {
      max-width: 760px;
    }

    .question {
      font-family: $roboto;
      margin-bottom: 10px;
      font-size: 28px;
      font-weight: bold;
      color: $oxford-blue;
    }

    .answer {
      font-family: $nunito;
      font-size: 18px;
      color: $gull-gray;
    }
  }

  .accordion {

    .card {
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid $alto;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid  $alto;
        height: 1px;
        top: 45px;
        left: 20px;
        outline: none;
      }

      .card-header {
        display: flex;
        justify-content: center;
        background-color: transparent;
        padding: 20px 0;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          display: inline-block;
          width: 100%;
          border-bottom: 1px solid  $alto;
          height: 1px;
          top: 20px;
          left: 20px;
          outline: none;
        }

        &::after {
          content: '';
          position: absolute;
          display: inline-block;
          width: 100%;
          border-bottom: 1px solid  $alto;
          height: 1px;
          bottom: 20px;
          left: 20px;
          outline: none;
        }

        .btn {
          text-transform: uppercase;
          font-family: $roboto;
          font-size: 28px;
          font-weight: bold;
          text-align: center;
          color: $bright-green;
          background-color: white;
          z-index: 10;
        }
      }

      .card-body {
        padding: 0;
      }
    }
  }
}

.testimonials-section {
  padding: 50px 0 70px;

  .section-title {
    max-width: 530px;
    text-align: center;
    margin: 0 auto 60px;
  }

  .author-photo {
    margin-bottom: 20px;
    width: 120px;
    height: auto;

    @media (max-width: 767px) {
      margin: 0 auto 20px;
      display: block;
    }
  }

  .testimonial {
    font-family: $nunito;
    font-size: 18px;
    font-style: italic;
    color: $gull-gray;
    margin-bottom: 20px;
  }

  .author {
    position: relative;
    padding-left: 70px;

    & > * {
      font-family: $nunito;
      font-size: 18px;
      font-weight: bold;
      color: $oxford-blue;
    }
  }

  .author::before {
    content: url("../../images/photos/quotes.svg");
    position: absolute;
    top: -7px;
    left: 0;
  }
}

.partners-section {
  padding: 70px 0 140px;

  @media (max-width: 991px) {
    padding: 50px 0 100px;
  }

  .section-title {
    max-width: 530px;
    text-align: left;
    margin-bottom: 15px;

    @media (max-width: 991px) {
      max-width: 100%;
    }
    @media (max-width: 767px) {
      text-align: center;
    }
  }

  .students-content {
    max-width: 420px;
    font-family: $nunito;
    font-size: 22px;
    color: $gull-gray;
    margin-bottom: 20px;

    @media (max-width: 991px) {
      max-width: 100%;
    }

    @media (max-width: 767px) {
      font-size: 18px;
      text-align: center;
    }
  }

  .logo-items {
    padding: 0;
    align-items: center;

    .logo-item img {
      width: 130px;
      height: auto;
    }

    @media (max-width: 991px) {
      margin-bottom: 40px;
      justify-content: center;
    }
  }

  .counter-box {
    max-width: 370px;
    max-height: 370px;
    padding: 80px 35px;
    border-radius: 4px;
    border: solid 4px $bright-green;

    @media (max-width: 991px) {
      margin: 0 auto;
    }

    @media (max-width: 400px) {
      padding: 20%;
    }

    .count {
      font-family: $roboto;
      font-size: 80px;
      font-weight: 300;
      text-align: center;
      color: $bright-green;
    }

    .counter-title {
      font-family: $roboto;
      font-size: 22px;
      font-weight: bold;
      text-align: center;
      color: $oxford-blue;
    }
  }
}

.twitter-section {
  padding: 10px 0;

  .section-title {
    max-width: 400px;
    text-align: right;
    margin: 0 0 60px auto;

    @media (max-width: 991px) {
      text-align: center;
      max-width: 100%;
    }
  }

  .tweet-items {
    justify-content: space-between;
    margin-left: -15px;
    margin-right: -15px;

    @media (max-width: 1199px) {
      justify-content: center;
    }
  }

  .tweet-item {
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    max-width: 356px;
    width: 100%;
    padding: 30px 15px 25px 90px;
    background-color: $oxford-blue;
    font-family: $nunito;
    font-size: 18px;
    line-height: 1.4;
    color: $white;
    margin-bottom: 20px;

    @media (max-width: 991px) {
      max-width: 346px;
      margin: 0 7px 15px;
    }
    @media (max-width: 576px) {
      max-width: 100%;
      margin: 0 15px 15px;
    }

    .tweet-photo {
      border-radius: 50%;
      width: 45px;
      height: 45px;
      position: absolute;
      top: 10%;
      left: 5%;
    }

    .tweet-title {
      margin-bottom: 20px;
      font-weight: bold;
      text-decoration: underline;
    }

    .selected-green {
      margin-left: 4px;
      text-decoration: underline;
      color: $bright-green;
    }
  }



  blockquote.twitter-tweet {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    padding: 0;
    max-width: 100%;
    background-color: transparent;
  }

  blockquote.twitter-tweet p {
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;

    @media (max-width: 991px) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  blockquote.twitter-tweet a {
    color: $bright-green!important;
    font-weight: normal;
    text-decoration: underline;
    outline: 0 none;
  }

  blockquote.twitter-tweet a:hover,
  blockquote.twitter-tweet a:focus {
    text-decoration: none;
  }



}
