//sizes
$wrapper-width: 1180px;

//colors
$white:         #fff;
$bright-green:  #53f20e;
$oxford-blue:   #3e4c5b;
$gull-gray:     #9aa8b6;
$lily:          #b69ab2;
$desert-storm:  #f8f8f6;
$alto:          #D4D4D4;
$raven:         #747E88;

//fonts
$nunito: 'Nunito Sans', sans-serif;
$roboto: 'Roboto', sans-serif;