@import "./../../../bower_components/font-awesome/css/font-awesome.min.css";
@import "./../../../bower_components/bootstrap/dist/css/bootstrap.min.css";
@import "./../../../bower_components/swiper/dist/css/swiper.min.css";

@import "variables";
@import "header";
@import "footer";
@import "sections";

html {
  font-size: 10px;

  body {
    margin: 0;
    padding: 0;
    font-family: $nunito;
  }
}

h1 {
  font-size: 90px;
  line-height: 1;
  font-family: $roboto;
  font-weight: 900;

  @media (max-width: 991px) {
    font-size: 70px;
  }
  @media (max-width: 767px) {
    font-size: 55px;
  }
  @media (max-width: 575px) {
    font-size: 40px;
  }
}

h2 {
  font-family: $roboto;
  font-weight: 900;
  font-size: 50px;

  @media (max-width: 991px) {
    font-size: 40px;
  }
  @media (max-width: 767px) {
    font-size: 35px;
  }
  @media (max-width: 575px) {
    font-size: 28px;

  }
}

h3 {
  font-family: $roboto;
  font-weight: 900;

}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
}

.mb-0 {
  margin-bottom: 0!important;
}

.p-0 {
  padding: 0!important;
}

.pb-0 {
  padding-bottom: 0!important;
}

.mb-3 {
  margin-bottom: 3rem!important;
}

.bg-gray {
  background-color: $oxford-blue;
  z-index: 1;
}

.main-link {
  text-transform: uppercase;
  position: relative;
  font-family: $nunito;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  line-height: 1;
  color: $white;
  display: inline-flex;
  align-items: center;
  align-content: center;

  i {
    font-size: 40px;
    margin-right: 10px;
    line-height: 10px;
    margin-top: -5px;
  }

  .text {
    position: relative;

    &:after {
      content: '';
      display: inline-block;
      width: 100%;
      height: 1px;
      background-color: $white;
      position: absolute;
      top: auto;
      bottom: 0;
      left: 0;
    }
  }

  &:hover {
    color: $bright-green;

    .text:after {
      background-color: $bright-green;
    }
  }
}


@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: $wrapper-width!important;
  }
}
