@import "variables";
@import "header";
@import "footer";
@import "sections";

html {
  font-size: 10px;

  body {
    margin: 0;
    padding: 0;
    font-family: $nunito;
  }
}

h1 {
  font-size: 90px;
  line-height: 1;
  font-family: $roboto;
  font-weight: 900;

  @media (max-width: 991px) {
    font-size: 70px;
  }
  @media (max-width: 767px) {
    font-size: 55px;
  }
  @media (max-width: 575px) {
    font-size: 40px;
  }
}

h2 {
  font-family: $roboto;
  font-weight: 900;

}

h3 {
  font-family: $roboto;
  font-weight: 900;

}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

.mb-0 {
  margin-bottom: 0!important;
}

.p-0 {
  padding: 0!important;
}

.pb-0 {
  padding-bottom: 0!important;
}

.mb-3 {
  margin-bottom: 3rem!important;
}

.wrapper {
  max-width: $wrapper-width;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}




@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: $wrapper-width!important;
  }
}
