@import "variables";
@import "header";
@import "footer";
@import "sections";

html {
  font-size: 10px;

  body {
    margin: 0;
    padding: 0;
  }
}

h2 {

}

h3 {

}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

.mb-0 {
  margin-bottom: 0!important;
}

.pb-0 {
  padding-bottom: 0!important;
}

.mb-3 {
  margin-bottom: 3rem!important;
}

.wrapper {
  max-width: $wrapper-width;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
