.footer {
  background-color: #f8f8f6;
  padding: 55px 0 10px;
  margin: 0 auto; }

.footer-item {
  display: flex;
  flex-direction: column;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.33px;
  color: #3e4c5b; }
  .footer-item .footer-logo {
    margin: -20px 0 15px; }
  .footer-item .footer-title {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px; }
  .footer-item .footer-link {
    color: #3e4c5b;
    margin-bottom: 5px; }
    .footer-item .footer-link:hover {
      text-decoration: underline;
      color: #3e4c5b; }
    .footer-item .footer-link:last-child {
      margin-bottom: 0; }

.section-title {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: bold;
  color: #3e4c5b; }

.forest-xl-bg {
  background: url("../../images/bg/forest-xl.png") center center repeat-x;
  background-size: contain;
  height: 663px; }

.forest-s-bg {
  background: url("../../images/bg/forest-s.png") center center repeat-x;
  background-size: contain;
  height: 240px; }

.welcome-section {
  background: url("../../images/bg/home-bg.png") center center no-repeat;
  background-size: cover; }
  .welcome-section .wrapper {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    min-height: 100vh; }
  .welcome-section .header {
    padding-top: 37px; }
    .welcome-section .header .menu-item {
      padding: 10px;
      align-items: flex-start;
      cursor: pointer; }
      .welcome-section .header .menu-item a {
        text-transform: uppercase;
        font-family: "Nunito Sans", sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: #fff; }
    .welcome-section .header .menu-item:hover {
      border-bottom: 4px solid #53f20e; }
    .welcome-section .header .menu-social {
      padding: 10px 5px;
      margin-left: 50px; }
      .welcome-section .header .menu-social .instagram,
      .welcome-section .header .menu-social .linkedin,
      .welcome-section .header .menu-social .twitter {
        width: 27px;
        height: 27px;
        background-size: 90px !important; }
      .welcome-section .header .menu-social .instagram {
        background: url("../../images/photos/social-icon.svg") 0 0 no-repeat; }
      .welcome-section .header .menu-social .linkedin {
        margin: 0 10px;
        background: url("../../images/photos/social-icon.svg") -30px 0 no-repeat; }
      .welcome-section .header .menu-social .twitter {
        background: url("../../images/photos/social-icon.svg") -63px 0 no-repeat; }
  .welcome-section .welcome-container {
    padding: 30px 0; }
    .welcome-section .welcome-container .welcome-title {
      max-width: 710px;
      text-transform: uppercase;
      font-size: 90px;
      font-weight: bold;
      text-align: right;
      color: #fff; }
      .welcome-section .welcome-container .welcome-title > * {
        color: #53f20e; }
    .welcome-section .welcome-container .welcome-content {
      max-width: 750px;
      margin-bottom: 70px;
      font-family: "Nunito Sans", sans-serif;
      font-size: 20px;
      text-align: right;
      color: #fff; }
      .welcome-section .welcome-container .welcome-content > * {
        font-weight: bold; }
    .welcome-section .welcome-container .welcome-link {
      text-transform: uppercase;
      text-decoration: underline;
      padding-left: 40px;
      position: relative;
      font-family: "Nunito Sans", sans-serif;
      font-size: 20px;
      font-weight: bold;
      text-align: right;
      color: #fff; }
    .welcome-section .welcome-container .welcome-link::before {
      content: '\f101';
      font-family: FontAwesome;
      position: absolute;
      top: -17px;
      left: 0;
      font-size: 40px; }
  .welcome-section .search-container {
    padding-bottom: 28px; }
    .welcome-section .search-container .point {
      position: relative;
      margin-right: 20px;
      max-width: 249px;
      padding: 10px 10px 10px 50px;
      text-transform: uppercase;
      font-family: "Nunito Sans", sans-serif;
      font-size: 14px;
      color: #fff;
      background-color: rgba(62, 76, 91, 0.6); }
    .welcome-section .search-container .point::before {
      position: absolute;
      content: url("../../images/photos/mount-icon.svg");
      top: 13px;
      left: 10px;
      width: 28px;
      height: 28px; }
    .welcome-section .search-container .point::after {
      position: absolute;
      content: '';
      width: 1px;
      border: 1px solid #fff;
      height: 33px;
      top: 65px;
      left: 0; }

.video-section {
  padding: 125px 0 60px; }
  .video-section .video-container {
    margin-bottom: 180px;
    justify-content: space-between; }
    .video-section .video-container .video-info {
      padding: 20px 0 65px; }
      .video-section .video-container .video-info .video-subtitle {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        color: #3e4c5b;
        margin-bottom: 20px; }
      .video-section .video-container .video-info .section-title {
        max-width: 420px;
        margin-bottom: 20px;
        line-height: normal; }
      .video-section .video-container .video-info .video-content {
        max-width: 430px;
        font-family: "Nunito Sans", sans-serif;
        font-size: 22px;
        color: #9aa8b6;
        margin-bottom: 40px; }
      .video-section .video-container .video-info .video-link {
        position: relative;
        padding-left: 30px;
        color: #53f20e;
        font-family: "Nunito Sans", sans-serif;
        font-size: 20px;
        font-weight: bold; }
      .video-section .video-container .video-info .video-link::before {
        content: '\f101';
        font-family: FontAwesome;
        position: absolute;
        top: -18px;
        left: 0;
        font-size: 40px;
        color: #53f20e; }
    .video-section .video-container .video-box {
      background-color: #3e4c5b;
      width: 644px;
      height: 562px; }
  .video-section .video-container:nth-child(even) {
    flex-direction: row-reverse; }
  .video-section .video-container:last-child {
    margin-bottom: 0; }

.accordion-section {
  padding: 55px 0; }
  .accordion-section .accordion-container {
    position: relative;
    margin-left: 20px;
    padding: 10px 0 25px 240px;
    border-bottom: 1px solid #D4D4D4; }
    .accordion-section .accordion-container .question,
    .accordion-section .accordion-container .answer {
      max-width: 760px; }
    .accordion-section .accordion-container .question {
      margin-bottom: 10px;
      font-size: 28px;
      font-weight: bold;
      color: #3e4c5b; }
    .accordion-section .accordion-container .answer {
      font-family: "Nunito Sans", sans-serif;
      font-size: 18px;
      color: #9aa8b6; }
  .accordion-section .accordion-container::before {
    content: '01';
    position: absolute;
    left: -20px;
    top: 15px;
    color: #53f20e;
    font-weight: bold;
    font-size: 20px; }

.testimonials-section {
  padding: 50px 0 70px; }
  .testimonials-section .section-title {
    max-width: 530px;
    text-align: center;
    margin: 0 auto 60px; }
  .testimonials-section .testimonials-photo {
    margin-bottom: 20px;
    width: 122px;
    height: 107px; }
  .testimonials-section .testimonial {
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    font-style: italic;
    color: #9aa8b6;
    margin-bottom: 20px; }
  .testimonials-section .author {
    position: relative;
    padding-left: 70px; }
    .testimonials-section .author > * {
      font-family: "Nunito Sans", sans-serif;
      font-size: 18px;
      font-weight: bold;
      color: #3e4c5b; }
  .testimonials-section .author::before {
    content: url("../../images/photos/quotes.svg");
    position: absolute;
    top: -7px;
    left: 0; }

.students-section {
  padding: 70px 0 140px; }
  .students-section .section-title {
    max-width: 530px;
    text-align: left;
    margin-bottom: 15px; }
  .students-section .students-content {
    max-width: 420px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 22px;
    color: #9aa8b6;
    margin-bottom: 20px; }
  .students-section .logo-items {
    padding: 0; }
    .students-section .logo-items .logo-item img {
      width: 130px;
      height: 110px; }
  .students-section .counter-box {
    padding: 80px 35px;
    border-radius: 4px;
    border: solid 4px #53f20e; }
    .students-section .counter-box .count {
      font-size: 80px;
      font-weight: 300;
      text-align: center;
      color: #53f20e; }
    .students-section .counter-box .counter-title {
      font-size: 22px;
      font-weight: bold;
      text-align: center;
      color: #3e4c5b; }

.twitter-section {
  padding: 10px 0; }
  .twitter-section .section-title {
    max-width: 400px;
    text-align: right;
    margin: 0 0 60px auto; }
  .twitter-section .tweet-item {
    position: relative;
    max-width: 356px;
    width: 100%;
    padding: 28px 13px 27px 95px;
    background-color: #3e4c5b;
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    line-height: 1.44;
    color: #fff; }
    .twitter-section .tweet-item .tweet-photo {
      border-radius: 50%;
      width: 45px;
      height: 45px;
      position: absolute;
      top: 10%;
      left: 5%; }
    .twitter-section .tweet-item .tweet-title {
      margin-bottom: 20px;
      font-weight: bold;
      text-decoration: underline; }
    .twitter-section .tweet-item .selected-green {
      margin-left: 4px;
      text-decoration: underline;
      color: #53f20e; }

html {
  font-size: 10px; }
  html body {
    margin: 0;
    padding: 0; }

a:hover {
  text-decoration: none; }

ul li {
  list-style-type: none; }

.mb-0 {
  margin-bottom: 0 !important; }

.pb-0 {
  padding-bottom: 0 !important; }

.mb-3 {
  margin-bottom: 3rem !important; }

.wrapper {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }
