@import url(./../../../bower_components/font-awesome/css/font-awesome.min.css);
@import url(./../../../bower_components/bootstrap/dist/css/bootstrap.min.css);
@import url(./../../../bower_components/swiper/dist/css/swiper.min.css);
.header {
  padding-top: 15px;
  padding-bottom: 15px; }
  .header .logo {
    position: relative;
    z-index: 5; }
    .header .logo img {
      max-height: 80px; }
      @media (max-width: 991px) {
        .header .logo img {
          height: 40px; } }
  @media (max-width: 991px) {
    .header .menu-items {
      flex-wrap: wrap;
      justify-content: center; } }
  .header .menu-item {
    margin-right: 2px; }
    @media (max-width: 991px) {
      .header .menu-item {
        text-align: center;
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px; } }
    .header .menu-item a {
      display: inline-block;
      padding: 6px 10px;
      text-transform: uppercase;
      font-family: "Nunito Sans", sans-serif;
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      border-bottom: 3px solid transparent;
      cursor: pointer; }
      @media (max-width: 991px) {
        .header .menu-item a {
          border-width: 2px;
          padding: 3px 10px; } }
      .header .menu-item a:hover {
        border-color: #53f20e; }
    .header .menu-item.active a {
      border-color: #53f20e; }
  .header .menu-social {
    padding: 5px 5px 10px;
    margin-left: 50px; }
    @media (max-width: 991px) {
      .header .menu-social {
        margin: 30px auto 10px;
        justify-content: center;
        transform: scale(1.2);
        width: 210px; } }
    .header .menu-social .instagram,
    .header .menu-social .linkedin,
    .header .menu-social .twitter {
      width: 26px;
      height: 26px;
      background-size: 99px !important;
      background-color: transparent;
      -webkit-transition: background .2s;
      transition: background-color .2s; }
      .header .menu-social .instagram:hover,
      .header .menu-social .linkedin:hover,
      .header .menu-social .twitter:hover {
        background-color: #9aa8b6; }
    .header .menu-social .instagram {
      background: url("../../images/photos/social-icon.svg") 0 0 no-repeat; }
    .header .menu-social .linkedin {
      margin: 0 10px;
      background: url("../../images/photos/social-icon.svg") -35px 0 no-repeat; }
    .header .menu-social .twitter {
      background: url("../../images/photos/social-icon.svg") -73px 0 no-repeat; }
  .header .navbar-collapse {
    justify-content: flex-end; }
    @media (max-width: 991px) {
      .header .navbar-collapse {
        left: 0;
        width: 100%;
        background: #3e4c5b;
        display: block;
        position: absolute !important;
        min-width: 100vw;
        height: auto;
        top: -110%;
        max-height: 100vh !important;
        opacity: 0;
        transition: .2s;
        padding: 80px 15px 5px;
        z-index: 4; }
        .header .navbar-collapse.show {
          opacity: 1 !important;
          top: 0 !important;
          border-bottom: 1px solid #e1e1e1; } }
  .header .navigation {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .header .navigation .navbar-toggler {
      position: relative;
      left: 0;
      outline: none;
      z-index: 101;
      width: 32px;
      height: 18px;
      background-color: transparent;
      border: none;
      transition: .3s;
      cursor: pointer; }
      .header .navigation .navbar-toggler .hamburger-top-line, .header .navigation .navbar-toggler .hamburger-mid-line, .header .navigation .navbar-toggler .hamburger-bot-line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #53f20e;
        position: absolute;
        top: 0;
        left: 0;
        transition: .3s; }
      .header .navigation .navbar-toggler .hamburger-mid-line {
        top: 8px;
        left: 0; }
      .header .navigation .navbar-toggler .hamburger-bot-line {
        top: auto;
        bottom: 0; }
      @media (min-width: 992px) {
        .header .navigation .navbar-toggler:hover .hamburger-mid-line {
          left: 9px; }
        .header .navigation .navbar-toggler:hover .hamburger-bot-line {
          left: -4px; } }
      .header .navigation .navbar-toggler[aria-expanded="true"] .hamburger-top-line, .header .navigation .navbar-toggler[aria-expanded="true"] .hamburger-mid-line, .header .navigation .navbar-toggler[aria-expanded="true"] .hamburger-bot-line {
        transform: rotate(45deg);
        top: 8px; }
      .header .navigation .navbar-toggler[aria-expanded="true"] .hamburger-mid-line {
        background-color: transparent;
        transform: none; }
      .header .navigation .navbar-toggler[aria-expanded="true"] .hamburger-bot-line {
        transform: rotate(-45deg);
        left: 0;
        top: 8px; }

.welcome-section {
  background: url("../../images/bg/home-bg.jpg") center center no-repeat;
  background-size: cover; }
  .welcome-section > .container {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    min-height: 100vh; }
  .welcome-section .header {
    background-color: transparent;
    padding-top: 35px;
    padding-bottom: 0; }
    @media (max-width: 991px) {
      .welcome-section .header {
        padding-top: 15px; } }
  .welcome-section .welcome-container {
    padding: 30px 0;
    align-items: flex-end; }
    @media (max-width: 991px) {
      .welcome-section .welcome-container {
        padding: 20px 0; } }
    @media (max-width: 767px) {
      .welcome-section .welcome-container {
        align-items: center; } }
    .welcome-section .welcome-container .welcome-title {
      max-width: 710px;
      text-transform: uppercase;
      text-align: right;
      color: #fff; }
      @media (max-width: 767px) {
        .welcome-section .welcome-container .welcome-title {
          text-align: center; } }
      .welcome-section .welcome-container .welcome-title > * {
        color: #53f20e; }
    .welcome-section .welcome-container .welcome-content {
      max-width: 750px;
      margin-bottom: 70px;
      font-family: "Nunito Sans", sans-serif;
      font-size: 20px;
      text-align: right;
      color: #fff; }
      @media (max-width: 767px) {
        .welcome-section .welcome-container .welcome-content {
          text-align: center;
          font-size: 16px; } }
      .welcome-section .welcome-container .welcome-content > * {
        font-weight: bold; }
  .welcome-section .search-container {
    padding-bottom: 28px; }
    @media (max-width: 767px) {
      .welcome-section .search-container {
        width: 100%;
        padding: 0; } }
    @media (max-width: 991px) {
      .welcome-section .search-container .points {
        padding: 0; } }
    @media (max-width: 767px) {
      .welcome-section .search-container .points {
        flex-wrap: wrap;
        margin: 0; } }
    .welcome-section .search-container .point button {
      border-radius: 0;
      border: none;
      position: relative;
      margin-right: 20px;
      max-width: 250px;
      padding: 10px 10px 10px 50px;
      text-transform: uppercase;
      font-family: "Nunito Sans", sans-serif;
      font-size: 14px;
      line-height: 1.4;
      color: #fff;
      background-color: rgba(62, 76, 91, 0.6);
      text-align: left;
      transition: background .2s; }
      @media (max-width: 767px) {
        .welcome-section .search-container .point button {
          max-width: unset;
          margin-bottom: 10px;
          margin-right: 0; } }
      .welcome-section .search-container .point button:before {
        content: url("../../images/photos/mount-icon.svg");
        position: absolute;
        top: 50%;
        left: 10px;
        width: 28px;
        height: 28px;
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%); }
      .welcome-section .search-container .point button::after {
        content: '';
        position: absolute;
        display: inline-block;
        width: 1px;
        border-left: 1px solid #fff;
        height: 33px;
        top: auto;
        bottom: -38px;
        left: 0;
        outline: none; }
        @media (max-width: 767px) {
          .welcome-section .search-container .point button::after {
            display: none; } }
      .welcome-section .search-container .point button:hover {
        background-color: #3e4c5b; }

.footer {
  background-color: #f8f8f6;
  padding: 305px 0 30px;
  margin: 0 auto;
  position: relative; }
  @media (max-width: 991px) {
    .footer {
      padding: 265px 0 30px; } }
  @media (max-width: 767px) {
    .footer {
      padding: 225px 0 30px; } }
  .footer:before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../../images/bg/forest-s.png") center center repeat-x;
    background-size: contain; }
    @media (max-width: 991px) {
      .footer:before {
        height: 210px; } }
    @media (max-width: 767px) {
      .footer:before {
        height: 170px; } }
  .footer-items {
    padding: 0; }
  .footer-item {
    display: flex;
    flex-direction: column;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0.33px;
    color: #3e4c5b; }
    @media (max-width: 991px) {
      .footer-item {
        margin-bottom: 25px; } }
    @media (max-width: 576px) {
      .footer-item {
        text-align: center;
        margin-bottom: 35px; } }
    .footer-item .footer-logo {
      margin: -20px 0 15px; }
      @media (max-width: 991px) {
        .footer-item .footer-logo {
          text-align: center; } }
    .footer-item .footer-title {
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 10px; }
    .footer-item .footer-link {
      color: #3e4c5b;
      margin-bottom: 5px; }
      .footer-item .footer-link:hover {
        text-decoration: underline;
        color: #3e4c5b; }
      .footer-item .footer-link:last-child {
        margin-bottom: 0; }
    @media (max-width: 991px) {
      .footer-item .description {
        text-align: center; } }
  @media (max-width: 991px) {
    .footer-social {
      justify-content: center; } }
  .footer-social .instagram,
  .footer-social .linkedin,
  .footer-social .twitter {
    width: 26px;
    height: 26px;
    background-size: 99px !important;
    background-color: transparent;
    -webkit-transition: background .2s;
    transition: background-color .2s; }
    .footer-social .instagram:hover,
    .footer-social .linkedin:hover,
    .footer-social .twitter:hover {
      background-color: #9aa8b6; }
  .footer-social .instagram {
    background: url("../../images/photos/social-icon-dark.svg") 0 0 no-repeat; }
  .footer-social .linkedin {
    margin: 0 10px;
    background: url("../../images/photos/social-icon-dark.svg") -35px 0 no-repeat; }
  .footer-social .twitter {
    background: url("../../images/photos/social-icon-dark.svg") -73px 0 no-repeat; }

.section-title {
  text-transform: uppercase;
  color: #3e4c5b; }

.forest-xl-bg {
  background: url("../../images/bg/forest-xl.jpg") center center repeat-x;
  background-size: cover;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px 15px; }
  @media (max-width: 991px) {
    .forest-xl-bg {
      height: 550px; } }
  @media (max-width: 767px) {
    .forest-xl-bg {
      height: auto;
      min-height: 450px; } }
  @media (max-width: 576px) {
    .forest-xl-bg {
      min-height: 300px; } }
  .forest-xl-bg > * {
    color: #fff; }
  .forest-xl-bg .large-title {
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Roboto", sans-serif; }

.locations-section {
  padding-bottom: 30px; }
  .locations-section.container-fluid {
    padding-bottom: 0; }
  .locations-section .map-img {
    max-width: 650px;
    width: 100%;
    height: auto;
    margin-bottom: 50px; }
  .locations-section .main-link {
    color: #53f20e; }
    .locations-section .main-link .text:after {
      display: none !important; }
    .locations-section .main-link:hover .text {
      text-decoration: underline; }
  .locations-section .location-container {
    height: calc(100vh - 109px);
    height: -webkit-calc(100vh - 109px); }
    @media (max-width: 991px) {
      .locations-section .location-container {
        height: calc(50vh - 55px);
        height: -webkit-calc(50vh - 55px); } }
    .locations-section .location-container #map {
      width: 100%;
      height: 100%; }
  .locations-section .location-description {
    background-color: #747E88;
    padding: 20px 0 0 20px;
    height: calc(100vh - 109px);
    height: -webkit-calc(100vh - 109px); }
    @media (max-width: 991px) {
      .locations-section .location-description {
        height: calc(50vh - 15px);
        height: -webkit-calc(50vh - 15px);
        padding: 20px 0 0 0; } }
    .locations-section .location-description .specs {
      width: 100%;
      max-width: 800px; }
      @media (max-width: 991px) {
        .locations-section .location-description .specs {
          margin: 0 auto;
          max-width: 100%; } }
      .locations-section .location-description .specs .specs-title {
        font-family: "Nunito Sans", sans-serif;
        font-size: 22px;
        font-weight: bold;
        color: #fff;
        margin-bottom: 15px; }
        @media (max-width: 991px) {
          .locations-section .location-description .specs .specs-title {
            display: none; } }
      .locations-section .location-description .specs .search-box .autocomplete-wrap {
        display: flex;
        justify-content: center; }
      .locations-section .location-description .specs .search-box input {
        font-family: "Nunito Sans", sans-serif;
        font-size: 16px;
        color: #fff;
        background-color: transparent;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #fff;
        width: 250px;
        border-radius: 0; }
        .locations-section .location-description .specs .search-box input:focus {
          outline: none;
          border-color: #53f20e; }
      .locations-section .location-description .specs .search-box .input:focus {
        outline: none !important; }
      .locations-section .location-description .specs .search-box input::placeholder {
        color: #fff; }
      .locations-section .location-description .specs .search-box .submit-autocomplete {
        border: none;
        background: url("../../images/photos/search-icon.svg") center center no-repeat;
        width: 60px;
        height: 35px; }
      .locations-section .location-description .specs .sort-box .specs-actions button {
        padding: 0;
        border: none;
        background: transparent;
        font-family: "Nunito Sans", sans-serif;
        font-size: 18px;
        color: #fff; }
        .locations-section .location-description .specs .sort-box .specs-actions button .calendar {
          content: '\f073';
          font-family: FontAwesome;
          font-size: 25px; }
      .locations-section .location-description .specs .sort-box .specs-actions button:first-child {
        margin-right: 20px; }
      .locations-section .location-description .specs .event-list {
        padding: 0 20px 0 0;
        margin: 40px 0 0;
        max-height: calc(100vh - 109px - 80px - 56px);
        max-height: -webkit-calc(100vh - 109px - 80px - 56px);
        overflow: auto; }
        @media (max-width: 991px) {
          .locations-section .location-description .specs .event-list {
            margin: 20px 0 0;
            height: calc(50vh - 55px - 20px - 15px);
            height: -webkit-calc(50vh - 55px - 20px - 15px);
            padding: 0; } }
        .locations-section .location-description .specs .event-list .event-list__element {
          position: relative;
          padding: 15px 40px 15px 35px;
          font-family: "Nunito Sans", sans-serif;
          font-size: 16px;
          color: #fff;
          border-bottom: 1px solid #fff;
          line-height: 1.25; }
          @media (max-width: 991px) {
            .locations-section .location-description .specs .event-list .event-list__element {
              padding: 5px 55px 5px 40px;
              font-size: 14px;
              max-width: 800px;
              margin: 0 auto; } }
          .locations-section .location-description .specs .event-list .event-list__element:first-letter {
            font-weight: bold; }
          .locations-section .location-description .specs .event-list .event-list__element .elem-id {
            display: inline-block;
            margin-left: -33px;
            font-weight: bold;
            width: 25px;
            text-align: right;
            margin-right: 5px; }
          .locations-section .location-description .specs .event-list .event-list__element .location-title {
            display: inline-block;
            font-weight: bold; }
          .locations-section .location-description .specs .event-list .event-list__element .info-link {
            display: flex;
            width: 32px;
            height: 32px;
            position: absolute;
            top: 50%;
            left: auto;
            right: 1px;
            margin-top: -16px;
            font-size: 19px;
            border-radius: 50%;
            border: 1px solid #f8f8f6;
            justify-content: center;
            align-items: center;
            color: #fff; }
            @media (max-width: 991px) {
              .locations-section .location-description .specs .event-list .event-list__element .info-link {
                right: 16px; } }
            .locations-section .location-description .specs .event-list .event-list__element .info-link:hover {
              color: #53f20e;
              border-color: #53f20e; }
          .locations-section .location-description .specs .event-list .event-list__element:hover {
            color: #53f20e;
            cursor: pointer; }

.video-section {
  padding: 125px 0 60px; }
  @media (max-width: 1024px) {
    .video-section {
      padding: 40px 0 60px; } }
  .video-section > .container > .row {
    margin-bottom: 180px; }
    @media (max-width: 1024px) {
      .video-section > .container > .row {
        margin-bottom: 60px; } }
    .video-section > .container > .row:nth-child(even) {
      flex-direction: row-reverse; }
    .video-section > .container > .row:last-child {
      margin-bottom: 0; }
  .video-section .video-info {
    padding: 20px 0 65px; }
    @media (max-width: 767px) {
      .video-section .video-info {
        padding: 0 0 30px;
        text-align: center; } }
    .video-section .video-info .video-subtitle {
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      color: #3e4c5b;
      margin-bottom: 20px; }
    .video-section .video-info .section-title {
      margin-bottom: 20px;
      line-height: normal; }
    .video-section .video-info .video-content {
      font-size: 22px;
      color: #9aa8b6;
      margin-bottom: 40px; }
      @media (max-width: 767px) {
        .video-section .video-info .video-content {
          font-size: 18px;
          margin-bottom: 20px; } }
      @media (max-width: 576px) {
        .video-section .video-info .video-content {
          font-size: 16px; } }
    .video-section .video-info .video-link {
      position: relative;
      padding-left: 30px;
      color: #53f20e;
      font-family: "Nunito Sans", sans-serif;
      font-size: 20px;
      font-weight: bold; }
      @media (max-width: 576px) {
        .video-section .video-info .video-link {
          font-size: 18px; } }
      .video-section .video-info .video-link:hover {
        text-decoration: underline; }
      .video-section .video-info .video-link::before {
        content: '\f101';
        font-family: FontAwesome;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 40px;
        line-height: 20px;
        color: #53f20e; }
        @media (max-width: 576px) {
          .video-section .video-info .video-link::before {
            font-size: 37px;
            line-height: 18px; } }
  .video-section .video-box {
    background-color: #3e4c5b;
    width: 100%;
    height: 560px; }
    @media (max-width: 991px) {
      .video-section .video-box {
        height: 400px; } }
    @media (max-width: 767px) {
      .video-section .video-box {
        height: 320px; } }
    @media (max-width: 576px) {
      .video-section .video-box {
        height: calc(56.5vw - 20px);
        height: -webkit-calc(56.5vw - 20px); } }

.accordion-section {
  padding: 55px 0; }
  .accordion-section .accordion .accordion-container {
    border-bottom: 1px solid #D4D4D4 !important; }
  .accordion-section .accordion-container {
    position: relative;
    padding: 10px 0 25px 240px;
    border-bottom: 1px solid #D4D4D4; }
    .accordion-section .accordion-container:last-child {
      border-bottom: none; }
    @media (max-width: 991px) {
      .accordion-section .accordion-container {
        padding-left: 35px; } }
    .accordion-section .accordion-container > span {
      position: absolute;
      left: 0;
      top: 15px;
      color: #53f20e;
      font-weight: bold;
      font-size: 20px; }
    .accordion-section .accordion-container .question,
    .accordion-section .accordion-container .answer {
      max-width: 760px; }
    .accordion-section .accordion-container .question {
      font-family: "Roboto", sans-serif;
      margin-bottom: 10px;
      font-size: 28px;
      font-weight: bold;
      color: #3e4c5b; }
    .accordion-section .accordion-container .answer {
      font-family: "Nunito Sans", sans-serif;
      font-size: 18px;
      color: #9aa8b6; }
  .accordion-section .accordion .card {
    border: none !important;
    position: relative;
    border-radius: 0 !important; }
    .accordion-section .accordion .card .card-header {
      display: flex;
      justify-content: center;
      background-color: transparent;
      padding: 20px 0;
      position: relative;
      margin-bottom: 0;
      border-bottom: 0; }
    .accordion-section .accordion .card .btn {
      text-transform: uppercase;
      font-family: "Roboto", sans-serif;
      font-size: 28px;
      font-weight: bold;
      text-align: center;
      color: #53f20e;
      background-color: white;
      z-index: 10;
      border-radius: 0;
      border-bottom: 1px solid #D4D4D4;
      display: inline-block;
      width: 100%;
      padding: 11px;
      position: relative;
      margin-bottom: 20px; }
      .accordion-section .accordion .card .btn .text-wrap {
        position: relative;
        z-index: 3;
        display: inline-block;
        padding: 5px 40px; }
      .accordion-section .accordion .card .btn[aria-expanded="true"] {
        display: none !important; }
    .accordion-section .accordion .card .card-body {
      padding: 0; }

.testimonials-section {
  padding: 50px 0 40px; }
  .testimonials-section .section-title {
    max-width: 530px;
    text-align: center;
    margin: 0 auto 60px; }
  .testimonials-section .author-photo {
    margin-bottom: 20px;
    width: 120px;
    height: auto; }
    @media (max-width: 767px) {
      .testimonials-section .author-photo {
        margin: 0 auto 20px;
        display: block; } }
  .testimonials-section .testimonial {
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    font-style: italic;
    color: #9aa8b6;
    margin-bottom: 20px; }
  .testimonials-section .author {
    position: relative;
    padding-left: 70px; }
    .testimonials-section .author > * {
      font-family: "Nunito Sans", sans-serif;
      font-size: 18px;
      font-weight: bold;
      color: #3e4c5b; }
  .testimonials-section .author::before {
    content: url("../../images/photos/quotes.svg");
    position: absolute;
    top: -7px;
    left: 0; }
  .testimonials-section .swiper-controls {
    position: relative;
    height: 40px; }
    @media (max-width: 767px) {
      .testimonials-section .swiper-controls {
        margin-top: 20px; } }
  .testimonials-section .swiper-button-prev,
  .testimonials-section .swiper-button-next {
    transition: .2s;
    outline: none;
    width: 40px;
    height: 40px;
    border-radius: 0;
    border: 1px solid #ccc;
    top: 0;
    left: auto;
    right: 15px;
    background: unset;
    margin: 0; }
    .testimonials-section .swiper-button-prev:after,
    .testimonials-section .swiper-button-next:after {
      content: '\f105';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: inline-block;
      color: #53f20e;
      font-size: 24px;
      font-family: FontAwesome, "Open Sans", Arial, sans-serif;
      z-index: 1;
      line-height: 37px;
      text-align: center;
      font-weight: 900;
      padding-left: 2px; }
    .testimonials-section .swiper-button-prev:hover,
    .testimonials-section .swiper-button-next:hover {
      text-decoration: none;
      border-color: #53f20e; }
      @media (min-width: 992px) {
        .testimonials-section .swiper-button-prev:hover,
        .testimonials-section .swiper-button-next:hover {
          -webkit-box-shadow: 0 5px 30px 0 rgba(83, 242, 14, 0.35);
          -moz-box-shadow: 0 5px 30px 0 rgba(83, 242, 14, 0.35);
          box-shadow: 0 5px 30px 0 rgba(83, 242, 14, 0.35); } }
  .testimonials-section .swiper-button-prev {
    right: 75px; }
    .testimonials-section .swiper-button-prev:after {
      content: '\f104';
      padding-right: 2px;
      padding-left: 0; }

.partners-section {
  padding: 70px 0 140px; }
  @media (max-width: 991px) {
    .partners-section {
      padding: 50px 0 100px; } }
  .partners-section .section-title {
    max-width: 530px;
    text-align: left;
    margin-bottom: 15px; }
    @media (max-width: 991px) {
      .partners-section .section-title {
        max-width: 100%; } }
    @media (max-width: 767px) {
      .partners-section .section-title {
        text-align: center; } }
  .partners-section .students-content {
    max-width: 420px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 22px;
    color: #9aa8b6;
    margin-bottom: 20px; }
    @media (max-width: 991px) {
      .partners-section .students-content {
        max-width: 100%; } }
    @media (max-width: 767px) {
      .partners-section .students-content {
        font-size: 18px;
        text-align: center; } }
  .partners-section .logo-items {
    padding: 0;
    align-items: center; }
    .partners-section .logo-items .logo-item img {
      width: 130px;
      height: auto; }
    @media (max-width: 991px) {
      .partners-section .logo-items {
        margin-bottom: 40px;
        justify-content: center; } }
  .partners-section .counter-box {
    max-width: 370px;
    max-height: 370px;
    padding: 80px 35px;
    border-radius: 4px;
    border: solid 4px #53f20e; }
    @media (max-width: 991px) {
      .partners-section .counter-box {
        margin: 0 auto; } }
    @media (max-width: 576px) {
      .partners-section .counter-box {
        width: calc(100vw - 30px);
        width: -webkit-calc(100vw - 30px); } }
    .partners-section .counter-box .count {
      font-family: "Roboto", sans-serif;
      font-size: 80px;
      font-weight: 300;
      text-align: center;
      color: #53f20e; }
    .partners-section .counter-box .counter-title {
      font-family: "Roboto", sans-serif;
      font-size: 22px;
      font-weight: bold;
      text-align: center;
      color: #3e4c5b; }

.twitter-section {
  padding: 10px 0; }
  .twitter-section .section-title {
    max-width: 400px;
    text-align: right;
    margin: 0 0 60px auto; }
    @media (max-width: 991px) {
      .twitter-section .section-title {
        text-align: center;
        max-width: 100%; } }
  .twitter-section .tweet-items {
    justify-content: space-between;
    margin-left: -15px;
    margin-right: -15px; }
    @media (max-width: 1199px) {
      .twitter-section .tweet-items {
        justify-content: center; } }
  .twitter-section .tweet-item {
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    max-width: 356px;
    width: 100%;
    padding: 30px 15px 25px 90px;
    background-color: #3e4c5b;
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    line-height: 1.4;
    color: #fff;
    margin-bottom: 20px;
    overflow: hidden; }
    @media (max-width: 991px) {
      .twitter-section .tweet-item {
        max-width: 346px;
        margin: 0 7px 15px; } }
    @media (max-width: 576px) {
      .twitter-section .tweet-item {
        max-width: 100%;
        margin: 0 15px 15px;
        padding: 25px 10px 25px 70px; } }
    .twitter-section .tweet-item .tweet-photo {
      border-radius: 50%;
      width: 45px;
      height: 45px;
      position: absolute;
      top: 10%;
      left: 5%; }
    .twitter-section .tweet-item .tweet-title {
      margin-bottom: 20px;
      font-weight: bold;
      text-decoration: underline; }
    .twitter-section .tweet-item .selected-green {
      margin-left: 4px;
      text-decoration: underline;
      color: #53f20e; }
  .twitter-section blockquote.twitter-tweet {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    padding: 0;
    max-width: 100%;
    background-color: transparent; }
  .twitter-section blockquote.twitter-tweet p {
    font-size: 18px;
    font-weight: normal;
    line-height: 22px; }
    @media (max-width: 991px) {
      .twitter-section blockquote.twitter-tweet p {
        font-size: 16px;
        line-height: 20px; } }
  .twitter-section blockquote.twitter-tweet a {
    color: #53f20e !important;
    font-weight: normal;
    text-decoration: underline;
    outline: 0 none; }
  .twitter-section blockquote.twitter-tweet a:hover,
  .twitter-section blockquote.twitter-tweet a:focus {
    text-decoration: none; }

html {
  font-size: 10px; }
  html body {
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif; }

h1, .forest-xl-bg .large-title {
  font-size: 90px;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  font-weight: 900; }
  @media (max-width: 991px) {
    h1, .forest-xl-bg .large-title {
      font-size: 70px; } }
  @media (max-width: 767px) {
    h1, .forest-xl-bg .large-title {
      font-size: 55px; } }
  @media (max-width: 575px) {
    h1, .forest-xl-bg .large-title {
      font-size: 40px; } }

h2, .section-title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 50px; }
  @media (max-width: 991px) {
    h2, .section-title {
      font-size: 40px; } }
  @media (max-width: 767px) {
    h2, .section-title {
      font-size: 35px; } }
  @media (max-width: 575px) {
    h2, .section-title {
      font-size: 28px; } }

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 900; }

a:hover {
  text-decoration: none; }

ul {
  list-style: none;
  margin: 0; }

.mb-0 {
  margin-bottom: 0 !important; }

.p-0 {
  padding: 0 !important; }

.pb-0 {
  padding-bottom: 0 !important; }

.mb-3 {
  margin-bottom: 3rem !important; }

.bg-gray {
  background-color: #3e4c5b;
  z-index: 1; }

.main-link {
  text-transform: uppercase;
  position: relative;
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  line-height: 1;
  color: #fff;
  display: inline-flex;
  align-items: center;
  align-content: center; }
  .main-link i {
    font-size: 40px;
    margin-right: 10px;
    line-height: 10px;
    margin-top: -5px; }
  .main-link .text {
    position: relative; }
    .main-link .text:after {
      content: '';
      display: inline-block;
      width: 100%;
      height: 1px;
      background-color: #fff;
      position: absolute;
      top: auto;
      bottom: 0;
      left: 0; }
  .main-link:hover {
    color: #53f20e; }
    .main-link:hover .text:after {
      background-color: #53f20e; }

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1180px !important; } }
